.sidebar {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    
    svg {
        width: 30px;
        height: 30px;
        fill: #fff;
        transition: all 0.2s;
        margin-bottom: .5rem;
    }
    
    svg:hover {
        transform: scale(1.3);
    }
}