.navbar {
    padding: 3rem;
    font-weight: bold;
    text-align: right;
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    a,
    a:visited,
    a:active {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        margin: 0 2rem;
        transition: all 0.2s;
    }

    a:hover {
        transform: scale(1.3);
    }
}