@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.signature {
    font-family: 'Sacramento', cursive;
    margin-top: 3rem;
    font-size: 6rem;
    text-align: right;
}