.signature {
    font-family: 'Sacramento', cursive;
    margin-top: 3rem;
    font-size: 6rem;
    font-weight: bolder;
    text-align: right;

    div {
        display: inline-block;
        text-decoration: underline;
    }
}