@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.signature {
    font-family: 'Sacramento', cursive;
    margin-top: 3rem;
    font-size: 6rem;
    text-align: right;

    @media screen and (max-width: 640px) {
        font-size: 3rem;
        margin: -1rem -2rem 0 0;
    }
}