.container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transform: translateY(-1rem);
    
    .text {
        display: flex;
        align-items: center;
        justify-content: center;
    
        p {
            text-align: right;
            margin: 0;
            font-style: italic;
            margin-right: .5rem;
            letter-spacing: 0.4rem;
            width: 200px;
        }
        
        svg {
            height: 32px;
            width: 32px;
        }

    }
}