@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');


.title {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 0.4rem;
    font-style: italic;
    transform: translateY(-1rem);
    font-family: 'Grandstander', cursive;

    p {
        margin: 0;
        margin-top: 2px;
    }

    img {
        margin-left: 4px;
        width: 25px;
        height: 25px;
    }
}
