.container {
    height: 100%;
    width: 50%;
    display: inline-block;

    h2 {
        font-weight: lighter;
        margin-left: 6rem;
    }
}

.list {
    list-style-type: none;

    li {
        padding: 3.6rem;
        font-weight: bold;
        font-size: 2rem;

        a,
        a:visited,
        a:active {
            font-size: 2.6rem;
            text-decoration: none;
            background-image: var(--linear-gradient);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        div {
            font-size: 1.6rem;
            font-weight: 300;
        }
    }
}

.left {
    position: relative;
}

.left::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    background-image: var(--linear-gradient);
}

.left:hover::before {
    visibility: visible;
    width: 100%;
}
