@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.container {
    width: 80rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media screen and (max-width: 500px) {
        width: 45rem;
        margin-top: 16rem;
    }

    img {
        cursor: pointer;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        transition: all 0.2s ease;
        border: 8px solid #eee;

        &:hover {
            transform: scale(1.2);
            border: 8px solid var(--primary-color);
         
            @media screen and (max-width: 500px) {
                transform: scale(1.1);
            }
        }

        @media screen and (max-width: 500px) {
            width: 250px;
            height: 250px;
        }
    }
}

.main {
    margin: 6rem 0;
    font-size: 2rem;
    font-weight: 300;
    color: #222;

    @media screen and (max-width: 900px) {
        margin: 3rem 0;
        font-size: 1.6rem;
    }    
}

.mainSection {
    ul {
        margin-top: 1rem;
        margin-bottom: 2rem;
        list-style: none;

        li::before {
            content: '\2705';
            margin-right: 1.4rem;
        }
    }
}

.signature {
    font-family: 'Sacramento', cursive;
    margin-top: 3rem;
    font-size: 6rem;
    text-align: right;
}
