.mainContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    width: 80rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.list {
    list-style-type: none;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 0;
}