@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');

.container {
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 12rem);

    h1 {
        font-family: 'Poiret One', cursive;
        user-select: none;
        background-color: teal;
        background-size: 100%;
        background-repeat: repeat;
        background-image: var(--linear-gradient);
        font-size: 16rem;
        margin: 0;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: translateY(-6rem);
    }
}

.section {
    display: flex;
}
