@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.container {
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 25rem);

    h1 {
        font-family: 'Poiret One', cursive;
        user-select: none;
        font-size: 16rem;
        margin: 0;
        background-image: var(--linear-gradient);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        
        @media screen and (max-width: 900px) {
            font-size: 12rem;
        }
    }
}

.section {
    display: flex;

    @media screen and (max-width: 900px) {
        flex-direction: column;
    }
}
