.container {
    max-width: 110rem;
    margin: 0 auto;
    padding: 6rem;

    ul {
        list-style-type: none;
    }

    li {
        margin-bottom: 4rem;

        time {
            margin-left: 2px;
            font-weight: lighter;
            font-size: 1.4rem;
        }

        h1 {
            cursor: pointer;
            margin: 0 2px;
            background-image: var(--linear-gradient);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        p {
            cursor: pointer;
            font-weight: lighter;
            margin: 6px 2px;
        }
    }
}


.left {
    position: relative;
}

.left::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    background-image: var(--linear-gradient);
}

.left:hover::before {
    visibility: visible;
    width: 100%;
}